.body{
    background-color: black;
}
.header{
    background-color: black;
    height: 69px; 
    border-bottom: 1px solid seashell;
}
.logo{
    height: 50px;
    width: fit-content;
    position: absolute;
    left: 10px;
    margin-top: 10px;
}
.header-link{
    display: flex;
    position: absolute;
    right: 16px;
    top: 8px;
    gap: 20px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    color:blue
}
nav ul li a {
    color:seashell;
   
}
.first{
   
   height: 700px;
   margin-left: 50px;
   margin-right: 50px;
   width: 1200px;
   margin-bottom: 200px;
 
}
.middleLine{
    background-color: rgb(0, 0, 0);
    display: flex;
    position: absolute;
    top:380px;
    width: 1200px;
    height: 140px;
    align-items: center;
    justify-content: center;
  
}
.h2{
    color: seashell;
    text-decoration: underline;
    display: inline-flex;
    position: absolute;
    padding-bottom: 90px;
    font-size: 50px;
 
}
.h4{
    color: seashell;
    padding-top: 90px;
    font-size: 25px;
}


/*SECTION 2*/
.lovedTea{
    background-color: black;
    display: flex;
    width:1000px ;
    height: 200px;
    margin-left: 150px;
    margin-right: 120px;
    align-items: center;
    justify-content: center;
}
.box1{
    width: 300px;
    height: 200px;
  border: 5px solid rgb(46, 19, 199);



}
.pic1{
    width: 300px;
    height: 200px;   
}
.pic2{
    width: 300px;
    height: 200px;
}
.pic3{
    width: 300px;
    height: 200px;
}
.box2{
    width: 300px;
    height: 200px;
  border: 5px solid rgb(224, 19, 19);
  

}
.box3{
    width: 300px;
    height: 200px;
  border: 5px solid rgb(124, 0, 128);
 

}
.box4{
    width: 300px;
    height: 200px;
  border: 5px solid green;
  
 

}
.box5{
    width: 300px;
    height: 200px;
  border: 5px solid green;
 

}
.pic4{
    width: 300px;
    height: 200px;
}
.pic5{
    width: 300px;
    height: 200px;
}

.container1{
    padding-left: 170px;
    padding-right: 170px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.container2{
    padding-top: 80px;
    padding-left: 370px;
    padding-right: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}



    
    
   






  


    

